{% extends 'base.html.twig' %}

{% block title %}Voucher{% endblock %}

{% block body %}
    <h1>Voucher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voucher.id }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ voucher.discount }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ voucher.name }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ voucher.dateStart ? voucher.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ voucher.dateEnd ? voucher.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Couponcode</th>
                <td>{{ voucher.couponcode }}</td>
            </tr>
        </tbody>
    </table>


    <div class="button-desk">
        <div class="buttons_panel">
            <div class="row">
                <a class="button_edit" href="{{ path('voucher_edit', {'id': voucher.id}) }}">EDIT</a>
                {{ include('voucher/_delete_form.html.twig') }}

                <a class="button_inset_back" href="{{ path('voucher_index') }}">back to list</a>

            </div>
        </div>
    </div>


    <aside class="responsive_table">
        <br>
        <div class="row">
            <h4>Id</h4> - <h4>{{ voucher.id }}</h4>
        </div>
        <div class="row">
            <h4>Discount</h4> - <h4>{{ voucher.discount }}</h4>
        </div>
        <div class="row">
            <h4>Name</h4> - <h4>{{ voucher.name }}</h4>
        </div>

        <div class="row">
           <h4>Date_start</h4> <h4>{{ voucher.dateStart ? voucher.dateStart|date('Y-m-d H:i:s') : '' }}</h4>
        </div>
        <div class="row">
            <h4>Date_end</h4> <h4>{{ voucher.dateEnd ? voucher.dateEnd|date('Y-m-d H:i:s') : '' }}</h4>
        </div>
        <div class="row">
            <h4>Coupon code</h4> - <h4>{{ voucher.couponcode }}</h4>
        </div>
        <br>
        <hr>

        <div class="button-mob mt-30">
            <div class="buttons_panel">
                <div class="row">
                    <a class="button_edit" href="{{ path('voucher_edit', {'id': voucher.id}) }}">EDIT</a>
                    {{ include('voucher/_delete_form.html.twig') }}

                    <a class="button_inset_back" href="{{ path('voucher_index') }}">back to list</a>

                </div>
            </div>
        </div>
    </aside>
{% endblock %}
