{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Photo</th>
                <th>Shortcut</th>
                <th>Job</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in teams %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.firstname }}</td>
                <td>{{ member.lastname }}</td>
                 <td><img src="{{ asset('images/team/' ~ member.photo) }}" alt="{{ member.shortcut }}" style="width:80px"></td>
                <td>{{ member.shortcut }}</td>
                <td>{{ member.job }}</td>
                <td>{{ member.description |length > 100 ? member.description|slice(0, 100) ~ '...' : member.description }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': member.id}) }}">show</a>
                    <a href="{{ path('team_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}">Create new</a>
{% endblock %}
