 {% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
 
 
 
     
 <div class="container justify-content-center mt-5">
     <div class="row">
{% for member in teams %}
          <div class=" col text-center">
            <img style="width:240px; height:240px"src="{{ asset('images/team/' ~ member.photo )}}"  class="rounded-circle" alt="{{ member.shortcut }}" ></td>
            <h2>{{ member.firstname ~ ' ' ~ member.lastname}}</h2>
            <h6 class="fw-bold ">{{ member.job }}</h6>
            <p>{{ member.description }}</p>
          </div>
          {% endfor %}
        </div>
{% endblock %}