{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ team.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ team.lastname }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('images/team/' ~ team.photo) }}" alt="{{ team.shortcut }}" style="width:100px"></td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ team.job }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ team.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('team_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('team_edit', {'id': team.id}) }}"><i class="far fa-edit"> edit</i></a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
