{% extends 'base.html.twig' %}
 {% block title %}TEAM{% endblock %}

 {% block body %}


         <h1>TEAM</h1>
         <div class="team_container">
             <div class="team-row">
                 {% for member in teams %}
                     <div class="member">
                         <img class="imgBox" src="{{ asset('images/team/' ~ member.photo ) }}" alt="{{ member.shortcut }}"/>
                         <h2>{{ member.firstname ~ ' ' ~ member.lastname }}</h2>
                         <h4>{{ member.job }}</h4>
                         <p>
                             {{ member.description }}
                         </p>
                     </div>
                 {% endfor %}
             </div>
         </div>


     <!-- /END OF THE SERVICES -->
     {% block footer %}
         {% include 'footer.html.twig' %}
     {% endblock %}

 {% endblock %}
