{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1>{% trans %} Welcome back!{% endtrans %}</h1>
    <div class="login_main_container">
        <div class="login-div">
            <div class="logo_login">
                <div class="logo">
                    <img src="{{ asset('images/TruckGIF.gif') }}" alt="menu_burger" aria-label="LycusLabs logo">
                </div>
            </div>
            <h2>{% trans %}LOGIN{% endtrans %}</h2>
            <h4 class="txt_center">{% trans %}Access to your account{% endtrans %}</h4>
            <div class="fields">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a
                                    href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="user">
                    <div class="row">
                        <img class="small_icon_register" src="{{ asset('images/svg/email.png') }}" alt="email" aria-label="enter your email">
                    <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           autocomplete="email" required autofocus >
                    </div>
                    </div>
                    <div class="user">
                        <div class="row">
                            <img class="small_icon_register" src="{{ asset('images/svg/lock.png') }}" alt="password" aria-label="enter your password">
                            <input placeholder="Password" alt="password" aria-label="enter your password" type="password"
                           name="password" id="inputPassword" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                    </div>
                    <button class="mt-30 button" aria-label="login" type="submit" >{% trans %}LOGIN{% endtrans %}</button>
                </form>
            </div>


            <div class="link">
                <a href="{{ path('app_forgot_password_request') }}">{% trans %}Forgot password?{% endtrans %}</a>{% trans %} or{% endtrans %} <a href="{{ path('app_register') }}">{% trans %}Sign up{% endtrans %}</a>

            </div>
        </div>
    </div>





{% endblock %}
