{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="small-container single-product pt-50">
        <div class="product_container">
            <div class="product_info">
                <div class="col-2 imgs_box">
                    <div class="imgProd_Box">
                        <img src="{{ asset('images/products/' ~ product.image ) }}"
                             alt="{{ product.image }}" id="productImg">
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                    </div>
                </div>
                <div class="col-2 txt_center">
                    <h1>{{ product.title }}</h1>
                    <h3>Description</h3>
                    <p class="mt-5 txt_justify">{{ product.description }}</p>
                    <br>
                    <h2 class="price_prod">{{ product.price }} €</h2>
                    <form id="formAddCart">
                        <label for="quantityProduct" class="qty">Quantity</label>
                        <input id="quantityProduct" name="quantity" type="number" value="1">
                        <button type="submit" class="button" aria-label="Add to Cart">ADD TO CART</button>
                    </form>

                </div>
            </div>
            <div class="txt_center">
                <h3>Additional information</h3>
                <p class="mb-25 txt_justify">{{ product.descriptionadd }}</p>
            </div>
        </div>
    </div>
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
    <script>
        document.getElementById("formAddCart").addEventListener("submit", function(event) {

            console.log(document.getElementById("quantityProduct").value)
            fetch("{{ path('AddToCart') }}", {
                method: "POST",
                body: JSON.stringify({
                    'quantity': document.getElementById("quantityProduct").value,
                    'idProduct': {{ product.id }}
                })
            }).then(response => {
                return response.json()
            }).then(product => {
                console.log(product)
            })
            event.preventDefault()
        })
    </script>

{% endblock %}