{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="small-container single-product pt-50">
        <div class="product_container">
            <div class="wrap txt_justify">
                <div class="col-2">
                    <div class="imgProd_Box">
                        <img src="{{ asset('images/products/' ~ product.image ) }}"
                             alt="{{ product.image }}" id="productImg">
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <h1>{{ product.title }}</h1>
                    <h3>Description</h3>
                    <p class="mt-5">{{ product.description }}</p>
                    <br>
                    <h2 class="price_prod">{{ product.price }} €</h2>
                    <label class="qty">Quantity</label>
                    <input type="number" value="1">
                    <button class="button" aria-label="Add to Cart">ADD TO CART</button>

                </div>
            </div>
            <div class="txt_center">
                <h3>Additional information</h3>
                <p class="mb-25 txt_justify">{{ product.descriptionadd }}</p>
            </div>
        </div>
    </div>
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}


{% endblock %}