{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="small-container single-product">
        <div class="product_container">
            <div class="row">
                <div class="col-2">
                    <div class="imgProd_Box">
                        <img src="{{ asset('images/products/' ~ product.image ) }}"
                             alt="{{ product.image }}" id="productImg">
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="{{ asset('images/products/' ~ product.image ) }}"
                                 alt="{{ product.image }}" class="small-img">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p class="ariane"> Home / Products</p>
                    <h1>{{ product.title }}</h1>
                    <h3>Description</h3>
                    <p>{{ product.description }}</p>
                    <br>
                    <h2>{{ product.price }} €</h2>
                    <label class="qty">Quantity</label>
                    <input type="number" value="1">
                    <a class="link" href="">Add to cart</a>

                </div>
            </div>
            <div class="row">
                <h3>Additional information</h3>
                <p class="margin-b">{{ product.descriptionadd }}</p>
            </div>
        </div>
    </div>



{% endblock %}