

	<article class="col-18 my-4 d-flex">
        <img class= "rounded" src="{{ asset('images/presentation/' ~ item.image) }}" alt="{{ item.shortcut }}" style="width:500px">

        <div class="d-flex flex-column py-3 ps-4">
		<h3>{{ item.title }}</h3>
		<span class="text-success">{{ item.subtitle }}</span>
		<p class="lead">{{ item.text }}</p>
		</div>
		
	</article>