
	<article class="col-18 my-4 d-flex">
           <div class="d-flex flex-column py-3 px-4">
		<h3>{{ item.title }}</h3>
		<span class="text-success">{{ item.subtitle }}</span>
		<p class="lead">{{ item.text }}</p>
		</div>
		
        <img class= "rounded" src="{{ asset('images/presentation/' ~ item.image) }}" alt="{{ item.shortcut}}" style="width:500px">


	</article>