{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1> Create an account</h1>
    <div class="register_main_container">
        <div class="register-div">
            <div class="logo_login">
                <div class="logo">
                    <img src="{{ asset('images/PredatorGIF.gif') }}" alt="menu_burger" aria-label="LycusLabs logo">
                </div>
            </div>
            <h2>REGISTER</h2>
            <h4 class="txt_center">Welcome aboard !</h4>
            {{ form_start(registrationForm) }}
            <div class="fields">

                    <div class="user">
                        <div class="row">
                        <img class="small_icon_register" src="{{ asset('images/svg/account.png') }}" alt="firstname" aria-label="enter your firstname">
                        {{ form_row(registrationForm.firstname) }}
                        </div>
                    </div>
                    <div class="user">
                        <div class="row">
                        <img class="small_icon_register" src="{{ asset('images/svg/account.png') }}" alt="lastname" aria-label="enter your lastname">
                        {{ form_row(registrationForm.lastname) }}
                        </div>
                    </div>

                <div class="user">
                    <div class="row">
                    <img class="small_icon_register" src="{{ asset('images/svg/email.png') }}" alt="email" aria-label="enter your email">
                    {{ form_row(registrationForm.email) }}
                    </div>
                </div>
                    <div class="user">
                        <div class="row">
                            <img class="small_icon_register" src="{{ asset('images/svg/lock.png') }}" alt="email" aria-label="enter your password">
                        {{ form_row(registrationForm.Password.first) }}
                        </div>
                    </div>
                <div class="user">
                    <div class="row">
                        <img class="small_icon_register" src="{{ asset('images/svg/lock.png') }}" alt="email" aria-label="repeat your password">
                    {{ form_row(registrationForm.Password.second) }}
                    </div>
                </div>

                {{ form_row(registrationForm.agreeTerms) }}

            <button class="mt-20 button" aria-label="login">LOGIN</button>
            {{ form_end(registrationForm) }}

            <div class="link">
                Already have an account?<a href="#"> Sign in</a>
            </div>
        </div>
    </div>





{% endblock %}
