{% extends 'base.html.twig' %}

{% block title %}Carousel index{% endblock %}

{% block body %}
    <h1>Carousel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.id }}</td>
                 <td><img src="{{ asset('images/carousel/'~ carousel.image )}}" alt="{{ carousel.shortcut}}" style="width:200px"></td>
                <td>{{ carousel.title }}</td>
                <td>{{ carousel.text }}</td>
                <td>
                    <a href="{{ path('carousel_show', {'id': carousel.id}) }}"><i class="far fa-eye"> show</i></a>
                    <a href="{{ path('carousel_edit', {'id': carousel.id}) }}"><i class="far fa-edit"> edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('carousel_new') }}">Create new</a>
{% endblock %}
