<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>

    <style>
        * {
            font-family: 'Inter', sans-serif;
        }
        table{
            font-size: x-small;
        }
        tfoot tr td{
            font-weight: bold;
            font-size: x-small;
        }

        .gray {
            background-color: lightgray
        }
    </style>

</head>
<body>

<table>
    <tr>
        <td><img src="{{ asset('images/Lycuslabslogo.svg') }}" alt="Lycuslabs logo" width="150"/></td>
        <td>
            <h3>Lycuslabs</h3>
            <h5>Advanced simplicity</h5>
            <pre>
                Mr Muhammad Alamgir NASIR
                Rosenbergstrasse 77,
                Tax ID
                phone
                fax
            </pre>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td><strong>From:</strong> Lycuslabs </td>
        <td><strong>To:</strong> {{  command.adresse }}</td>
        <td> Date : {{ command.dateOrder|date('d-m-y')  }}</td>
        <td> Ref : {{ command.reference }}</td>
    </tr>
</table>

<br/>

<table>
    <thead style="background-color: lightgray;">
    <tr>
        <th>#</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price €</th>
        <th>Total €</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            {% for detail in command.detailOrders %}
                <th scope="row">1</th>
            <td>{{ detail.title }}</td>
            <td> x {{ detail.quantity }}</td>
            <td>{{ detail.price }} €</td>
            <td>{{ detail.total }} €</td>
            {% endfor%}
        </tr>
    </tbody>

    <tfoot>
    <tr>
        <td colspan="3"></td>
        <td>Discount / Coupon Code</td>
        <td> - {{ command.voucher }} %</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>Total </td>
        <td class="gray">{{ command.totalPrice}} €</td>
    </tr>
    </tfoot>
</table>

</body>
</html>
