
{% extends 'base_admin.html.twig' %}

{% block title %}Categories{% endblock %}

{% block contain %}
    <h2>Categories</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdat ? category.createdat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedat ? category.updatedat|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="button_dash" href="{{ path('category_show', {'id': category.id}) }}">SHOW</a>
                    <a class="button_dash" href="{{ path('category_edit', {'id': category.id}) }}">EDIT</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('category_new') }}">Create new</a>
{% endblock %}
