{% extends 'base.html.twig' %}
{% block title %}Profile
{% endblock %}
{% block body %}


    <div class="profile_container row mt-20">
        <!-- Début de la section header user  -->

        <header class="header">
            <div class="navbar_user" id="MyNavbar">
                <img src="{{ asset('images/svg/profil.png') }}" alt="Dashboard">
                <a class="button active" href="#" id="address-btn" onclick="showSection(this);">MY ADRESSES</a>
                <a class="button" href="#" id="orders-btn" onclick="showSection(this);">MY ORDERS</a>
                <a class="button" href="#" id="licences-btn" onclick="showSection(this);">MY LICENSES</a>
                <a class="button" href="#" id="downloads-btn" onclick="showSection(this);">MY DOWNLOADS</a>
                <a class="button" href="#" id="support-btn" onclick="showSection(this);">SUPPORT</a>
                <a class="button" href="{{ path('app_logout') }}">LOGOUT</a>
            </div>
        </header>
        <!-- Fin de la section header user  -->

        <!-- Début de la section Adresses -->
        <div class="row sections-content">
            <div class="sections-row">
                <h1 class="mb-50">HELLO {{ app.user.firstName }} !</h1>
            </div>
            <div class="row sections-row" id="adresses">
                <section class="adresse">
                    <div class="row">
                        <a href="{{ path('adresse_new') }}" class="button">Create address</a>
                    </div>
                    <div class="mt-30 row">
                        {% for key, adresse in list_adresses %}
                            <div class="adresses_box">
                                <span>Address : #{{ key+1 }}</span>
                                <h3>{{ adresse.firstName }}  {{ adresse.lastName }}</h3>
                                <p>{{ adresse.company }}</p>
                                <p>{{ adresse.vatnumber }}</p>
                                <p>{{ adresse.adresse }}</p>
                                <p>{{ adresse.zipcode }}</p>
                                <p>{{ adresse.city }}</p>
                                <p>{{ adresse.country }}</p>
                                <div class="row btn_row">
                                    <a class="button mt-20 mb-50" href="#">SELECT</a>
                                </div>
                                <div class="row btn_row">
                                    <a class="button_inset m-8" href="{{ path('adresse_edit', {'id': adresse.id}) }}">EDIT</a>
                                    {{ include('adresse/_delete_form.html.twig') }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <!-- fin de la section adresses -->


            <!-- début de la section commandes  -->
            <div class="row sections-row" id="orders">
                <section>

                    <table>
                        <tr>
                            <th>Reference</th>
                            <th>Qty</th>
                            <th>Product</th>
                            <th>Date
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </th>
                            <th>Price
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            <th>Invoice</th>
                        </tr>
                        <tr>
                            <td>15f484f5s1fs</td>
                            <td>2</td>
                            <td>Product 1</td>
                            <td>01/01/22</td>
                            <td>2000 €</td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download invoice"></td>
                        </tr>
                        <tr>
                            <td>1548281fs</td>
                            <td>7</td>
                            <td>Product 2</td>
                            <td>01/01/22</td>
                            <td>9000 €</td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download invoice"></td>
                        </tr>
                    </table>
                    {# Design pour la partie responsive (téléphones, tablettes..) #}
                    <div class="container_responsive_profile">
                        <h4>Reference :</h4>
                        <p>CFEDGBGVF</p>
                        <h4>Qty :</h4>
                        <p>x 2</p>
                        <h4>Product :</h4>
                        <p>Produit 1</p>
                        <h4>Date :</h4>
                        <p>12.15.25</p>
                        <h4>Price</h4>
                        <p>150 €</p>
                        <h4>Invoice : <img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                          alt="Download invoice">
                        </h4>
                    </div>
                    <div class="container_responsive_profile">
                        <h4>Reference :</h4>
                        <p>CFEDGBGVF</p>
                        <h4>Qty :</h4>
                        <p>x 2</p>
                        <h4>Product :</h4>
                        <p>Produit 1</p>
                        <h4>Date :</h4>
                        <p>12.15.25</p>
                        <h4>Price</h4>
                        <p>150 €</p>
                        <h4>Invoice : <img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                           alt="Download invoice">
                        </h4>
                    </div>
                    <div class="container_responsive_profile">
                        <h4>Reference :</h4>
                        <p>CFEDGBGVF</p>
                        <h4>Qty :</h4>
                        <p>x 2</p>
                        <h4>Product :</h4>
                        <p>Produit 1</p>
                        <h4>Date :</h4>
                        <p>12.15.25</p>
                        <h4>Price</h4>
                        <p>150 €</p>
                        <h4>Invoice : <img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                           alt="Download invoice">
                        </h4>
                    </div>
                </section>
            </div>
            <!-- fin de la section commandes -->


            <!-- Début de la section licenses  -->
            <div class="row sections-row" id="licenses">
                <section>
                    <table>
                        <tr>
                            {#  {% if licence.active == true %}

                                <th> icon - green here</th>
                            {% elseif licence.active == false %}
                                <th> icon - grey or whatever color here</th>
                            {% else %}

                            {% endif %} #}
                            <th>0</th>
                            <th>Product
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </th>
                            <th>Activation Key</th>
                            <th>Type
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </th>
                            <th>Host ID
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </th>
                            <th>Date Created
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </th>
                            <th>Expiry Date
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </th>
                            <th></th>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Product 1</td>
                            <td>ADEE-FEFE-FDFD-FDFF-FDFD</td>
                            <td>Node</td>
                            <td>25:32:15:12:45</td>
                            <td>25/12/22</td>
                            <td>25/12/22</td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download text"></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Product 1</td>
                            <td>ADEE-FEFE-FDFD-FDFF-FDFD</td>
                            <td>Node</td>
                            <td>25:32:15:12:45</td>
                            <td>25/12/22</td>
                            <td>25/12/22</td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download text"></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Product 1</td>
                            <td>ADEE-FEFE-FDFD-FDFF-FDFD</td>
                            <td>Node</td>
                            <td>25:32:15:12:45</td>
                            <td>25/12/22</td>
                            <td>25/12/22</td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download text"></td>
                        </tr>
                    </table>
                    {# Design pour la partie responsive (téléphones, tablettes..) #}
                    <div class="container_responsive_profile">
                        <p>0</p>
                        <h4>Product :</h4>
                        <p>Product 1</p>
                        <h4>Activation Key :</h4>
                        <p>ADEE-FEFE-FDFD-FDFF-FDFD</p>
                        <h4>Type :</h4>
                        <p>Node</p>
                        <h4>Host ID :</h4>
                        <p>25:32:15:12:45</p>
                        <h4>Date Created</h4>
                        <p>25/12/22</p>
                        <h4>Expiry Date</h4>
                        <p>25/12/22</p>
                        <h4>Licence : <img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                           alt="Download invoice">
                        </h4>
                    </div>
                    <div class="container_responsive_profile">
                        <p>0</p>
                        <h4>Product :</h4>
                        <p>Product 1</p>
                        <h4>Activation Key :</h4>
                        <p>ADEE-FEFE-FDFD-FDFF-FDFD</p>
                        <h4>Type :</h4>
                        <p>Node</p>
                        <h4>Host ID :</h4>
                        <p>25:32:15:12:45</p>
                        <h4>Date Created</h4>
                        <p>25/12/22</p>
                        <h4>Expiry Date</h4>
                        <p>25/12/22</p>
                        <h4>Licence : <img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                           alt="Download invoice">
                        </h4>
                    </div>
                    <div class="container_responsive_profile">
                        <p>0</p>
                        <h4>Product :</h4>
                        <p>Product 1</p>
                        <h4>Activation Key :</h4>
                        <p>ADEE-FEFE-FDFD-FDFF-FDFD</p>
                        <h4>Type :</h4>
                        <p>Node</p>
                        <h4>Host ID :</h4>
                        <p>25:32:15:12:45</p>
                        <h4>Date Created</h4>
                        <p>25/12/22</p>
                        <h4>Expiry Date</h4>
                        <p>25/12/22</p>
                        <h4>Licence : <img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                           alt="Download invoice">
                        </h4>
                    </div>
                </section>


            </div>
            <!-- fin de la section licenses-->


            <!-- Début de la section downloads  -->
            <div class="row sections-row" id="downloads">
                <section>
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Version</th>
                            <th>Plateform</th>
                            <th>Download</th>
                        </tr>
                        <tr>
                            <td>Product 2</td>
                            <td>Select
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </td>
                            <td>Select
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download invoice"></td>
                        </tr>
                        <tr>
                            <td>Product 2</td>
                            <td>Select
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </td>
                            <td>Select
                                <button class="img_sorted">
                                    <img class="img_sort" src="{{ asset('images/svg/chevron.png') }}" alt="sort by">
                                </button>
                            </td>
                            <td><img class="img_downloads" src="{{ asset('images/svg/downloads.png') }}"
                                     alt="Download invoice"></td>
                        </tr>
                    </table>
                    {# Design pour la partie responsive (téléphones, tablettes..) #}
                    <div class="container_responsive_profile">
                        <h4>Product :</h4>
                        <p>Product 1</p>
                        <h4>Platform :</h4>
                        <p>Windows, Mac and Linux</p>
                        <h4>Download : Available on a desktop version</h4>
                    </div>

                </section>
            </div>
            <!-- fin de la section downloads-->


            <!-- Début de la section support/contact  -->
            <div class="row sections-row" id="support">
                <section>

                    <h3 class="mb-50">NEED SOME HELP ABOUT YOUR PURCHASE?</h3>
                    <a href="{{ path('message_profil') }}" class="button">CONTACT US</a>
                </section>
            </div>
            <!-- fin de la section support/contact-->
        </div>

    </div>


    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}

{% endblock %}
