{% extends 'base.html.twig' %}

{% block title %}Images Services{% endblock %}

{% block body %}
    <h1>Images of Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ images_service.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('images/services/' ~ images_service.image) }}" alt="{{ images_service.alt }}" style="width:150px;">
                </td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ images_service.alt }}</td>
            </tr>
        </tbody>
    </table>

    <div class="button-desk">
        <div class="buttons_panel">
            <div class="row">
                <a class="button_edit" href="{{ path('images_services_edit', {'id': images_service.id}) }}">edit</a>
                {{ include('images_services/_delete_form.html.twig') }}
                <a class="button_inset_back" href="{{ path('images_services_index') }}">back to list</a>
            </div>
        </div>
    </div>



    <aside class="responsive_table">
        <br>
        <div class="row">
            <h4>Id</h4> - <h4>{{ images_service.id }}</h4>
        </div>
        <div class="row">
            <img src="{{ asset('images/services/' ~ images_service.image) }}" alt="{{ images_service.alt }}" style="width:150px;">
        </div>
        <div class="row">
            <h4>Shortcut</h4> - <h4>{{ images_service.alt }}</h4>
        </div>

        <br>
        <hr>

        <div class="button-mob mt-30">
            <div class="buttons_panel">
                <div class="row">
                    <a class="button_edit" href="{{ path('images_services_edit', {'id': images_service.id}) }}">EDIT</a>
                    {{ include('images_services/_delete_form.html.twig') }}
                    <a class="button_inset_back" href="{{ path('images_services_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}
