{% extends 'base_admin.html.twig' %}

{% block title %}Services{% endblock %}

{% block contain %}
    <h2>Services</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Shortcut</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td><img src="{{ asset('images/services/' ~ service.image) }}" alt="{{ service.shortcut }}" style="width:80px"></td>
                <td>{{ service.title }}</td>
                <td>{{ service.subtitle }}</td>
                <td>{{ service.shortcut}}</td>
                <td>{{ service.text |length > 50 ? service.text|slice(0, 50) ~ '...' : service.text }}</td>
                <td>
                    <a class="button_dash" href="{{ path('service_show', {'id': service.id}) }}">SHOW</a>
                    <a class="button_dash" href="{{ path('service_edit', {'id': service.id}) }}">EDIT</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('service_new') }}">Create new</a>
{% endblock %}
