{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
    <h1>Services index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Shortcut</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td><img src="{{ asset('images/services/' ~ service.image) }}" alt="{{ service.shortcut }}" style="width:80px"></td>
                <td>{{ service.title }}</td>
                <td>{{ service.subtitle }}</td>
                <td>{{ service.shortcut}}</td>
                <td>{{ service.text |length > 50 ? service.text|slice(0, 50) ~ '...' : service.text }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}"><i class="far fa-eye"> show</i></a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}"><i class="far fa-edit"> edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('service_new') }}">Create new</a>
{% endblock %}
