
<article class="col service_container">
 <div class="right">
	<h1>{{ item.title }}</h1>
	<h2>{{ item.subtitle }}</h2>
	<div class="inline">
		<img src="{{ asset('images/services/' ~ item.image) }}" alt="{{ item.shortcut }}" style="width:500px">
		<p>{{ item.text }}</p>
	</div>
 </div>
</article>