<article class="service_container right">
    <div>
        <div class="txt_align_right">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.subtitle }}</h3>
        </div>
        <div class="row-2">
            <div class="right">
                <p>{{ item.text }}</p>
            </div>
            <div class="imgServ_Box">
                <img src="{{ asset('images/services/' ~ item.image) }}" alt="{{ item.shortcut }}">
            </div>
        </div>
    </div>
</article>