<article class="service_container">
    <div>
        <div class="left">
        <h1>{{ item.title }}</h1>
        <h2>{{ item.subtitle }}</h2>
        </div>
        <div class="row">
            <div style= "width: 40%;">
                <div class="imgServ_Box">
                    <img src="{{ asset('images/services/' ~ item.image) }}" alt="{{ item.shortcut }}">
                </div>
            </div>
            <div style= "width: 50%">
                <p>{{ item.text }}</p>
            </div>
        </div>
    </div>
</article>