<article class="service_container left ml-40">
    <div>
        <div>
            <h2>{{ item.title }}</h2>
            <h3>{{ item.subtitle }}</h3>
        </div>
        <div class="row">
            <div class="imgServ_Box">
                <img src="{{ asset('images/services/' ~ item.image) }}" alt="{{ item.shortcut }}">
            </div>
            <div class="left ml-40">
                <p>{{ item.text }}</p>
            </div>
        </div>
    </div>
</article>