{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('images/services/' ~ service.image) }}" alt="{{ service.shortcut }}" style="width:100px;"></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ service.subtitle }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ service.text }}</td>
            </tr>
        </tbody>
    </table>


    <div class="button-desk">
        <div class="buttons_panel">
            <div class="row">
                <a class="button_edit" href="{{ path('service_edit', {'id': service.id}) }}">EDIT</a>
                {{ include('services/_delete_form.html.twig') }}

                <a class="button_inset_back" href="{{ path('services_index') }}">back to list</a>

            </div>
        </div>
    </div>


    <aside class="responsive_table">
        <br>
        <div class="row">
            <h4>Id</h4> - <h4>{{ service.id }}</h4>
        </div>

        <div class="row">
            <img src="{{ asset('images/services/' ~ service.image) }}" alt="{{ service.shortcut }}" style="width:100px;">
        </div>
        <div class="row">
            <h4>Title</h4> - <h4>{{ service.title }}</h4>
        </div>
        <div class="row">
            <h4>Subtitle</h4> - <h4>{{ service.subtitle }}</h4>
        </div>
        <div class="row" style="margin: 0 40px">
            <h4>Text</h4> - <h4>{{ service.text }}</h4>
        </div>


        <br>
        <hr>

        <div class="button-mob mt-30">
            <div class="buttons_panel">
                <div class="row">
                    <a class="button_edit" href="{{ path('service_edit', {'id': service.id}) }}">EDIT</a>
                    {{ include('services/_delete_form.html.twig') }}

                    <a class="button_inset_back" href="{{ path('services_index') }}">back to list</a>

                </div>
            </div>
        </div>
    </aside>
{% endblock %}
