{% extends 'base_admin.html.twig' %}

{% block title %}Products{% endblock %}

{% block contain %}
        <h2>Products</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Shortcut</th>
                <th>Description</th>
                <th>Additional description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Created date</th>
                <th>Updated date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.shortcut }}</td>
                    <td>{{ product.description |length > 50 ? product.description|slice(0, 50) ~ '...' : product.description }}</td>
                    <td>{{ product.descriptionadd |length > 50 ? product.descriptionadd|slice(0, 50) ~ '...' : product.descriptionadd}}</td>
                    <td>{{ product.price }} €</td>
                    <td><img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.shortcut }}" style="width:80px"></td>
                    <td>{{ product.createdat ? product.createdat|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ product.updatedat ? product.updatedat|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="button_dash" href="{{ path('product_show', {'id': product.id}) }}">SHOW</a>
                        <a class="button_dash" href="{{ path('product_edit', {'id': product.id}) }}">EDIT</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button" href="{{ path('product_new') }}">Create new</a>
{% endblock %}
