{% extends 'base.html.twig' %}

{% block title %}ImagesProduct index{% endblock %}

{% block body %}
    <h1>ImagesProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Alt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for images_product in images_products %}
            <tr>
                <td>{{ images_product.id }}</td>
                <td>{{ images_product.image }}</td>
                <td>{{ images_product.alt }}</td>
                <td>
                    <a href="{{ path('images_product_show', {'id': images_product.id}) }}">show</a>
                    <a href="{{ path('images_product_edit', {'id': images_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('images_product_new') }}">Create new</a>
{% endblock %}
