{% extends 'base.html.twig' %}

{% block title %}Adresse index
{% endblock %}

{% block body %}
	<h1>All Users'adresses :
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Company</th>
				<th>Vat_number</th>
				<th>Adresse</th>
				<th>Zipcode</th>
				<th>City</th>
				<th>Country</th>
				<th>Telephone</th>

			</tr>
		</thead>
		<tbody>
			{% for adresse in adresses %}
				<tr>
					<td>{{ adresse.id }}</td>
					<td>{{ adresse.firstname }}</td>
					<td>{{ adresse.lastname }}</td>
					<td>{{ adresse.company }}</td>
					<td>{{ adresse.vatNumber }}</td>
					<td>{{ adresse.adresse }}</td>
					<td>{{ adresse.zipcode }}</td>
					<td>{{ adresse.city }}</td>
					<td>{{ adresse.country }}</td>
					<td>{{ adresse.telephone }}</td>

					<td>
						<a href="{{ path('adresse_show', {'id': adresse.id}) }}">
							<i class="far fa-eye">
								Show</i>
						</a>
					</td>
					<td></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">There is no addresses registered yet !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
