{% extends 'base.html.twig' %}

{% block title %}Adresse index
{% endblock %}

{% block body %}
<article class="dash_contain">

<h1>All Users'addresses :</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Company</th>
				<th>Vat_number</th>
				<th>Address</th>
				<th>Zipcode</th>
				<th>City</th>
				<th>Country</th>
				<th>Telephone</th>

			</tr>
		</thead>
		<tbody>
			{% for adresse in adresses %}
				<tr>
					<td>{{ adresse.id }}</td>
					<td>{{ adresse.firstname }}</td>
					<td>{{ adresse.lastname }}</td>
					<td>{{ adresse.company }}</td>
					<td>{{ adresse.vatNumber }}</td>
					<td>{{ adresse.adresse }}</td>
					<td>{{ adresse.zipcode }}</td>
					<td>{{ adresse.city }}</td>
					<td>{{ adresse.country }}</td>
					<td>{{ adresse.telephone }}</td>

					<td>
						<a class="button_dash" href="{{ path('adresse_show', {'id': adresse.id}) }}">
							SHOW
						</a>
					<a class="button_dash" href="{{ path('adresse_edit', {'id': adresse.id}) }}">
							EDIT
						</a>
					</td>
					<td></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">There is no addresses registered yet !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</article>
	<h4 class="mobile_responsive">
		Please use a Desktop version to access to your admin panel !
	</h4>
	<aside class="responsive_table">
		{% for adresse in adresses %}
			<br>
			<div class="row">
				<h4>Id</h4> - <h4>{{ adresse.id }}</h4>
			</div>
			<div class="row">
				<h4>Firstname</h4> - <h4>{{ adresse.firstname }}</h4>
			</div>
			<div class="row">
				<h4>Lastname</h4> - <h4>{{ adresse.lastname }}</h4>
			</div>
			<div class="row">
				<h4>Company</h4> - <h4>{{ adresse.company }}</h4>
			</div>
			<div class="row">
				<h4>Vat Number</h4> - <h4>{{ adresse.vatNumber }}</h4>
			</div>
			<div class="row">
				<h4>Address</h4> - <h4>{{ adresse.adresse }}</h4>
			</div>
			<div class="row">
				<h4>Zipcode</h4> - <h4>{{ adresse.zipcode }}</h4>
			</div>
			<div class="row">
				<h4>City</h4> - <h4>{{ adresse.city }}</h4>
			</div>
			<div class="row">
				<h4>Country</h4> - <h4>{{ adresse.country }}</h4>
			</div>
			<div class="row">
				<h4>Telephone</h4> - <h4>{{ adresse.telephone }}</h4>
			</div>
			<div class="row">
				<h4>Actions</h4> - <a class="button_dash" href="{{ path('adresse_show', {'id': adresse.id}) }}"> SHOW </a> - <a class="button_dash" href="{{ path('adresse_edit', {'id': adresse.id}) }}"> EDIT </a>
			</div>
			<br>
			<hr>
		{% else %}
			<p>There is no addresses registered yet !</p>
		{% endfor %}
	</aside>
{% endblock %}
