{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	<div class="col">
	<div class="box justify_cnt_center mb-25">
		<div class="contact_container">
			<div class="msg">
				<div class="heading">
					<h1>{% trans %}CONTACT{% endtrans %}</h1>
					<h4>{% trans %}Do you have a project in mind?{% endtrans %}<br>
						{% trans %}or a question?
							{% trans %}Our professionals are at{% endtrans %}<br>
						{% trans %}your disposal.{% endtrans %}</h4>
				</div>
				{{ form_start(contact_form) }}
				<div class="user">
					<img class="small_icon" src="{{ asset('images/svg/account.png') }}" alt="firstname" aria-label="enter your firstname">
					{{ form_widget(contact_form.firstname) }}
				</div>
				<div class="user">
					<img class="small_icon" src="{{ asset('images/svg/account.png') }}" alt="lastname" aria-label="enter your lastname">
					{{ form_widget(contact_form.lastname) }}

				</div>
				<div class="user">
					<img class="small_icon" src="{{ asset('images/svg/email.png') }}" alt="email" aria-label="enter your email">
					{{ form_widget(contact_form.email) }}

				</div>
				<div class="user-message" aria-label="write a message">
					{{ form_widget(contact_form.message) }}
				</div>
				<div class="btn-form">
			{# Le <input type="submit"> définit un bouton d'envoi qui soumet toutes les valeurs du formulaire#}
					<input type="submit" name="submit" value="SUBMIT">
				</div>
				{{ form_end(contact_form) }}

			</div>
			<div class="image_contact">
				<img src="{{ asset('images/ExcavatorGIF.gif') }}" alt="truck 3d gif" aria-label="gif of a truck in 3d ">
			</div>
		</div>


	</div>
	{% block footer %}
		{% include 'footer.html.twig' %}
	{% endblock %}
	</div>
{% endblock %}
