<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO GOOGLE -->
    <meta charset="UTF-8">
    <title>
        {% block title %}Lycus labs : Plugins for Autodesk and 3D Visualizations
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, all">
    <meta name="description"
          content="Lycus labs creates software and computer visualization solutions for computer graphics industry">
    <meta name="keywords"
          content="Software plugins, graphics industry, Autodesk plugins, 3d visualization, solutions technological, Computer Sciences, Software engineer senior">
    <script type="application/ld+json">

        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://www.lycuslabs.com/"
            },
            "headline": "Lycus labs creates software and computer visualization solutions for computer graphics industry",
            "image": [
                "https://lycuslabs.com/Lycuslabslogo.svg"
            ],
            "datePublished": "2022-30-03T08:00:00+08:00",
            "dateModified": "2022-30-03T09:20:00+08:00",
            "author": {
                "@type": "Person",
                "name": "Lucile DEBUCHY",
                "url": "https://www.lucile-debuchy.com/"
            },
            "publisher": {
                "@type": "Organization",
                "name": "https://www.lycuslabs.com/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://lycuslabs.com/Lycuslabslogo.svg",
                    "alt": "Lycuslabs Logo"
                }
            }
        }
    </script>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/team.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/product.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/services.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/payment.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
    {% endblock %}


</head>

{% block navbar %}

    {# debut de la nav bar principal #}
    {#    <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">LycusLabs</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="home" href="{{ path('home') }}">Home</a>
						</li>
						<li class="nav-item dropdown">

							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Products
							</a>
							<ul id="listsProducts" class="dropdown-menu" aria-labelledby="navbarDropdown">

							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('our_services') }}">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('team_members') }}">Team</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('contact') }}">Contact</a>
						</li>

                        {% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('profil') }}">Profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
						</li>

                        <button class="my-button-dark position-relative">
                                <a class="nav-link" href="{{ path('buy_action') }}">
                                    <i class="fas fa-shopping-cart me-2"></i>
                                    Cart
                                </a>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <span class="visually-hidden"></span>
                                </span>

                         </button>

                        {% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Admin
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li class="nav-item">
									<a class="nav-link" aria-current="allproducts" href="{{ path('product_index') }}">All Products</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="allcategories" href="{{ path('category_index') }}">All Categories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="allservices" href="{{ path('services_index') }}">All Services</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="allusers" href="{{ path('user_index') }}">All Users</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" haria-current="allorders" href="{{ path('order_index') }}">All Orders</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="allteam" href="{{ path('team_index') }}">The team</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="carouselimages" href="{{ path('carousel_index') }}">Carousel</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="carouselimages" href="{{ path('voucher_index') }}">Create Discount</a>
								</li>
							</ul>

						</li>
                        {% endif %}
						{% else %}
								<li class="nav-item">
									<a class="nav-link" aria-current="login" href="{{ path('app_login') }}">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-current="register" href="{{ path('app_register') }}">Register</a>
								</li>

							{% endif %}


					</ul>

				</div>
			</div>

</nav>
    #}
    <nav>
        <div class="row">
            <div class="logo">LycusLabs</div>
            {# IMAGE POUR OUVRIR NAVBAR #}
            <img src="{{ asset('images/svg/bars-solid.svg') }}" class="burger_m" alt="menu_burger"
                 aria-label="open the menu" id="burg-menu" onclick="burgerToggle()"/>
            <ul class="mainMenu" id="myLinks">
                <li><a href="{{ path('home') }}" aria-label="home">Home</a></li>

                <li class="dropdown">
                    <a class="dropbtn" id="navbarDropdown" aria-label="products">Products</a>
                    <ul id="listsProducts" class="dropdown_content">
                        {# ICI COMMENCE LE BOUTON DYNAMIQUE DES PRODUITS VOIR BAS DE PAGE POUR JAVASCRIPT #}
                    </ul>
                </li>
                <li><a href="{{ path('our_services') }}" aria-label="services">Services</a></li>
                <li><a href="{{ path('team_members') }}" aria-label="team">Team</a></li>
                <li><a href="{{ path('contact') }}" aria-label="contact">Contact</a></li>


                {# USER LOGGED PART #}
                {% if app.user %}
                    <li><a href="{{ path('profil') }}" aria-label="profile">Profile</a></li>
                    <li><a href="{{ path('buy_action') }}" aria-label="cart"><img alt="cart" src="{{ asset('images/svg/shopping-cart.png') }}"></a></li>
                    <li><a href="{{ path('app_logout') }}" aria-label="logout">Logout</a></li>
                    {# ADMIN PART #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('dashboard') }}">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('app_login') }}" aria-label="login">Login</a></li>
                    <li><a href="{{ path('app_register') }}" aria-label="register">Register</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}


{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}



</html>
