<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO GOOGLE -->
    <meta charset="UTF-8">
    <title>
        {% block title %}Lycus labs : Plugins for Autodesk and 3D Visualizations
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, all">
    <meta name="description"
          content="Lycus labs creates software and computer visualization solutions for computer graphics industry">
    <meta name="keywords"
          content="Software plugins, graphics industry, Autodesk plugins, 3d visualization, solutions technological, Computer Sciences, Software engineer senior">
    <script type="application/ld+json">

        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://www.lycuslabs.com/"
            },
            "headline": "Lycus labs creates software and computer visualization solutions for computer graphics industry",
            "image": [
                "https://lycuslabs.com/Lycuslabslogo.svg"
            ],
            "datePublished": "2022-30-03T08:00:00+08:00",
            "dateModified": "2022-30-03T09:20:00+08:00",
            "author": {
                "@type": "Person",
                "name": "Lucile DEBUCHY",
                "url": "https://www.lucile-debuchy.com/"
            },
            "publisher": {
                "@type": "Organization",
                "name": "https://www.lycuslabs.com/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://lycuslabs.com/Lycuslabslogo.svg",
                    "alt": "Lycuslabs Logo"
                }
            }
        }
    </script>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/team.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/product.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/services.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/payment.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/checkout.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick-theme.css') }}">
    {% endblock %}


</head>

{% block navbar %}
    <nav>
        <div class="row">
            <div class="logo">LYCUSLABS</div>
            {# IMAGE POUR OUVRIR NAVBAR #}
            <img src="{{ asset('images/svg/bars-solid.svg') }}" class="burger_m" alt="menu_burger"
                 aria-label="open the menu" id="burg-menu" onclick="burgerToggle()"/>
            <ul class="mainMenu" id="myLinks">
                <!-- Je fais une boucle sur mes drapeaux et je lui dit que si ma langue n'est pas celle active dans ma requete locale montre les autres drapeaux
                Si la langue active est par exemple l'anglais, ne montre pas le drapeau anglais, montre les autres drapeaux-->
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                <li><a href="{{ path('change-locale', {'locale': locale}) }}" aria-label="change language"><img style="width: 25px; margin-top: 22px" src="{{ asset('images/svg/'~locale~'.png') }}" alt="{{ locale }}"></a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{{ path('home') }}" aria-label="home">{% trans %}Home{% endtrans %}</a></li>

                <li class="dropdown">
                    <a class="dropbtn" id="navbarDropdown" aria-label="products">{% trans %}Products{% endtrans %}</a>
                    <ul id="listsProducts" class="dropdown_content">
                        {# ICI COMMENCE LE BOUTON DYNAMIQUE DES PRODUITS VOIR BAS DE PAGE POUR JAVASCRIPT #}
                    </ul>
                </li>
                <li><a href="{{ path('our_services') }}" aria-label="services">{% trans %}Services{% endtrans %}</a></li>
                <li><a href="{{ path('team_members') }}" aria-label="team">{% trans %}Team{% endtrans %}</a></li>
                <li><a href="{{ path('contact') }}" aria-label="contact">{% trans %}Contact{% endtrans %}</a></li>


                {# USER LOGGED PART #}
                {% if app.user %}
                    <li><a href="{{ path('profil') }}" aria-label="profile">{% trans %}Profile{% endtrans %}</a></li>
                    <li><a href="{{ path('buy_action') }}" aria-label="cart"><img alt="cart" src="{{ asset('images/svg/shopping-cart.png') }}"></a></li>
                    <li><a href="{{ path('app_logout') }}" aria-label="logout">{% trans %}Logout{% endtrans %}</a></li>

                    {# ADMIN PART #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('dashboard') }}">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('app_login') }}" aria-label="login">{% trans %}Login{% endtrans %}</a></li>
                    <li><a href="{{ path('app_register') }}" aria-label="register">{% trans %}Register{% endtrans %}</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}


{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ asset('assets/js/slick.js') }}"></script>
    <!-- PAYMENT -->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        $(document).ready(function () {
            $('.slider').slick({
                infinite: true,
                dots: true,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 2000,
                fade: true,
                fadeSpeed: 1000
            });
        });
    </script>

{% endblock %}



</html>
