

<footer class="footer">
    <div class="footer_container">
        <div class="row">
            <div class="footer_col">
                <h4>{% trans %}Company{% endtrans %}</h4>
                <ul>
                    <li><a href="#sec">{% trans %}About us{% endtrans %}</a></li>
                    <li><a href="{{ path('our_services') }}">{% trans %}Our services{% endtrans %}</a></li>
                    <li><a href="{{ path('team_members') }}">{% trans %}Our team{% endtrans %}</a></li>
                    <li><a href="{{ path('terms_of_use') }}">{% trans %}Terms of use{% endtrans %}</a></li>
                    <li><a href="{{ path('terms_of_sales') }}">{% trans %}Terms of sales{% endtrans %}</a></li>
                    <li><a href="{{ path('privacy_policy') }}">{% trans %}Privacy policy{% endtrans %}</a></li>

                </ul>
            </div>
            <div class="footer_col">
                <h4>{% trans %}Products{% endtrans %}</h4>
                <ul>
                    <li><a href="#">Mesh Tools</a></li>
                    <li><a href="#">3DS Max Product</a></li>

                </ul>

            </div>
            <div class="footer_col">
                <h4>{% trans %}Get help{% endtrans %}</h4>
                <ul>
                    <li><a href="{{ path('contact') }}">{% trans %}Contact us{% endtrans %}</a></li>
                    <li><a href="{{ path('returns') }}">{% trans %}Returns{% endtrans %}</a></li>

                </ul>
            </div>
            <div class="footer_col">
                <h4>{% trans %}Follow us{% endtrans %}</h4>

                <div class="form__icons row">
                    <!-- {# ICI je viens mettre un target="_blank pour dire d'ouvrir dans une nouvelle fenêtre #}
                    {# L'attribut rel est réglé sur "noreferrer noopener" pour éviter d'éventuelles attaques malveillantes de la part des pages qu je lient.  #} -->
                    <a href="https://www.linkedin.com/in/alamgir-nasir/" target="_blank" rel="noopener noreffer"><img class="form__icon" src="{{ asset('images/svg/linkedin.svg') }}" aria-label="linkedin" alt="Linkedin" /></a>
                    <a href="https://www.instagram.com/lycuslabs_official/" target="_blank" rel="noopener noreffer"><img class="form__icon" src="{{ asset('images/svg/instagram.svg') }}" aria-label="intagram" alt="Instagram" /></a>
                    <a href="https://twitter.com/lycuslabs1" target="_blank" rel="noopener noreffer"><img class="form__icon" src="{{ asset('images/svg/twitter.svg') }}" aria-label="twitter" alt="Twitter" /></a>
                    <a href="https://www.facebook.com/Lycuslabs-110344684975440" target="_blank" rel="noopener noreffer"><img class="form__icon" src="{{ asset('images/svg/fb.svg') }}" aria-label="facebook" alt="Facebook" /></a>
                </div>

            </div>
        </div>
    </div>
</footer>





