{% extends 'base.html.twig' %}

{% block title %}BuyActionController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-6 mt-5">
				<p>{% trans %}Firstname :{% endtrans %}
					{{ adresse.firstname }}</p>
				<p>{% trans %}Lastname :{% endtrans %}
					{{ adresse.lastname }}</p>
				<hr>
				<h5>{% trans %}Delivery adresse :{% endtrans %}</h5>
				<p>{{ adresse.adresse}}</p>
				<p>{% trans %}Zipcode :{{ adresse.zipcode}}</p>
				<p>{% trans %}City :{% endtrans %}
					{{ adresse.city}}</p>
				<p>{% trans %}Country :{% endtrans %}
					{{ adresse.country}}</p>
				<a class="btn btn-success mt-5" href="{{ path('order_cart') }}">{% trans %}Confirm{% endtrans %}</a>
			</div>
			<div class="col-6">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">{% trans %}Image{% endtrans %}</th>
							<th scope="col">{% trans %}Name{% endtrans %}</th>
							<th scope="col">{% trans %}Total{% endtrans %}</th>
						</tr>
					</thead>
					<tbody>

						{% for item in cart %}
							<tr>
								<td><img src="{{ asset('images/products/' ~ item['product'].image) }}" alt="{{ item['shortcut']}}" style="width:80px"></td>
								<td>{{  item['product'].title }}</td>
								<td>{{ item ['total'] }}
									€</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<h5>{% trans %}Total of your cart : €{% endtrans %}</h5>


			</div>

		</div>
	</div>
{% endblock %}
