{% extends 'base.html.twig' %}

{% block title %}Order Summary{% endblock %}

{% block body %}

    <h1>{% trans %}Order Summary{% endtrans %}</h1>
    <article class="checkout_container">
        <h3 class="info">{% trans %}Please review all your information before the checkout !{% endtrans %}</h3>


        <h3 class="mt-20">{% trans %}MY ADDRESS{% endtrans %}</h3>
        <!-- Autre façon pour appeler l'adresse -->
        <!--{{ data.adresse|replace({'[br]' : '</br>'})|raw }}-->
        <p>{{ data.adresse.firstName }}  {{ data.adresse.lastName }}</p>
        <p>{{ data.adresse.company }}</p>
        <p>{{ data.adresse.vatnumber }}</p>
        <p>{{ data.adresse.adresse }}</p>
        <p>{{ data.adresse.zipcode }}</p>
        <p>{{ data.adresse.city }}</p>
        <p>{{ data.adresse.country }}</p>
        <h3 class="mt-20">{% trans %}MY PRODUCTS{% endtrans %}</h3>
            <table>
            <tr>
                <th>{% trans %}Product{% endtrans %}</th>
                <th>{% trans %}Qty{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
            </tr>
                {% for key,product in data.products %}
            <tr>
                <td>{{ product.product.title }} </td>
                <td>x {{ product.quantity}}</td>
                <td>{{ product.total}} €</td>
            </tr>
                {% endfor %}
            </table>
        <p class="mt-20">{% trans %}Subtotal{% endtrans %} : {{ data.total }} €</p>
        {% if data.voucher is not null %}
            <p class="codeValid">{% trans %}Coupon Code{% endtrans %} : {{ data.voucher.name }} -{{ data.voucher.discount }}</p>
            <hr>
            <p class="total_price mt-20"> {% trans %}TOTAL{% endtrans %} : {{ data.total - (data.total * data.voucher.discount / 100) }}€</p>
        {% else %}
            <p class="total_price mt-20">{% trans %}TOTAL{% endtrans %} {{ data.total }} € </p>
        {% endif %}
    </article>
    <a onclick="BuyPerUnit()" class="button mt-20" id="checkout-button">PAY</a>

    {% block footer %}
        {% include 'footer.html.twig' %}

    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript">
        function BuyPerUnit() {
            // Create an instance of the Stripe object with your publishable API key
            var stripe = Stripe("{{ stripePublicKey }}");
            fetch("{{ path('valid_order') }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if(session.error === 'order')
                    {
                        window.location.replace('{{ path('home') }}');
                    }
                    else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        }
    </script>
    {% endblock %}
{% endblock %}