{% extends 'base.html.twig' %}

{% block title %}Order Summary{% endblock %}

{% block body %}

    <h1>{% trans %}Order Summary{% endtrans %}</h1>
    <article class="checkout_container">
        <h3 class="info">{% trans %}Please review all your information before the checkout !{% endtrans %}</h3>


        <h3 class="mt-20">{% trans %}MY ADDRESS{% endtrans %}</h3>
            {{ data.adresse|replace({'[br]' : '</br>'})|raw }}
            <h3>{{ data.adresse.firstName }}  {{ data.adresse.lastName }}</h3>
            <p>{{ data.adresse.company }}</p>
            <p>{{ data.adresse.vatnumber }}</p>
            <p>{{ data.adresse.adresse }}</p>
            <p>{{ data.adresse.zipcode }}</p>
            <p>{{ data.adresse.city }}</p>
            <p>{{ data.adresse.country }}</p>

        <h3 class="mt-20">{% trans %}MY PRODUCTS{% endtrans %}</h3>
            <table>
            <tr>
                <th>{% trans %}Product{% endtrans %}</th>
                <th>{% trans %}Qty{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
            </tr>
                {% for key,product in data.products %}
            <tr>
                <td>{{ product.product.title }} </td>
                <td>x {{ product.quantity}}</td>
                <td>{{ product.total}} €</td>
            </tr>
                {% endfor %}
            </table>
        <p class="mt-20">{% trans %}Subtotal{% endtrans %} : {{ data.total }} €</p>
        {% if data.voucher is not null %}
            <p class="codeValid">{% trans %}Coupon Code{% endtrans %} : {{ data.voucher.name }} -{{ data.voucher.discount }}</p>
            <hr>
            <p class="total_price mt-20"> {% trans %}TOTAL{% endtrans %} : {{ data.total - (data.total * data.voucher.discount / 100) }}€</p>
        {% else %}
            <p class="total_price mt-20">{% trans %}TOTAL{% endtrans %} {{ data.total }} € </p>
        {% endif %}
        <form action="" method="POST">
            <button class="button mt-20" type="submit" id="checkout-button">PAY</button>
        </form>
    </article>
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}