{% extends 'base_admin.html.twig' %}

{% block title %}Orders{% endblock %}

{% block contain %}
<article class="dash_contain">
<h2>Orders</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Date_order</th>
                <th>Address</th>
                <th>Voucher</th>
                <th>Total</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.dateOrder ? order.dateOrder|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.adresse|raw }}</td>
                <td>- {{ order.voucher }} %</td>
                <td>{{ order.totalPrice }} €</td>
                <td>
                    <a class="button_dash" href="{{ path('order_show', {'id': order.id}) }}">SHOW</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
    <h4 class="mobile_responsive">
        Please use a Desktop version to access to your admin panel !
    </h4>

    <aside class="responsive_table">
        {% for order in orders %}
            <br>
            <div class="row">
                <h4>Id</h4> - <h4>{{ order.id }}</h4>
            </div>
            <div class="row">
                <h4>Reference</h4> - <h4>{{ order.reference }}</h4>
            </div>
            <div class="row">
                <h4>Date Order</h4> - <h4>{{ order.dateOrder ? order.dateOrder|date('Y-m-d H:i:s') : '' }}</h4>
            </div>
            <div class="row">
                <h4>Address</h4> - <h4>{{ order.adresse }}</h4>
            </div>
            <div class="row">
                <h4>Voucher</h4> - <h4>- {{ order.voucher }} %</h4>
            </div>
            <div class="row">
                <h4>Total</h4> - <h4>{{ order.totalPrice }}€</h4>
            </div>
            <div class="row">
                <h4>Actions</h4> - <a class="button_dash" href="{{ path('order_show', {'id': order.id}) }}">SHOW</a>
            </div>
            <br>
            <hr>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </aside>
{% endblock %}
