{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<div class="container">
    <h1>Detail of the order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ order.user.fullname }}</td>
            </tr>
                <th>Vat_number</th>
                <td>{{ order.vatNumber }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>Date_order</th>
                <td>{{ order.dateOrder ? order.dateOrder|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ order.adresse }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ order.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ order.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ order.country }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ order.telephone }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total }}</td>
            </tr>
            <tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('order_index') }}">back to list</a>
</div>
{% endblock %}
