{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<div class="forms_container">
    <h1>Detail of the order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{% for orderDetail in order.detailOrders %}
                        <p>{{ orderDetail.title }}</p>
                        <p>x {{ orderDetail.quantity }}</p>
                        <p>{{ orderDetail.price }} €</p>
                    {% endfor %}</td>
            </tr>
            <tr>
                <th>Date_order</th>
                <td>{{ order.dateOrder ? order.dateOrder|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ order.adresse|raw }}</td>
            </tr>
            <tr>
                <th>Voucher</th>
                <td>{{ order.voucher }} %</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.totalprice }} €</td>
            </tr>
            <tr>
        </tbody>
    </table>
    <div class="button-desk">
        <a class="button_inset" href="{{ path('order_index') }}">back to list</a>
    </div>
</div>


    <aside class="responsive_table">
            <br>
            <div class="row">
                <h4>Id</h4> - <h4>{{ order.id }}</h4>
            </div>
            <div class="row">
                <h4>Reference</h4><h4>{{ order.reference }}</h4>
            </div>
            <div class="row">
                <h4>Date_order</h4><h4>{{ order.dateOrder ? order.dateOrder|date('Y-m-d H:i:s') : '' }}</h4>
            </div>
            <div class="row">
                <h4>Adresse</h4> - <h4>{{ order.adresse }}</h4>
            </div>
        <div class="row">
            <h4>Voucher</h4> - <h4> - {{ order.voucher }} %</h4>
        </div>
        <div class="row">
            <h4>Total</h4> - <h4>{{ order.totalPrice }} €</h4>
        </div>

            <br>
            <hr>

        <div class="button-mob mt-30">
            <a class="button_inset" href="{{ path('order_index') }}">back to list</a>
        </div>
    </aside>
{% endblock %}
